* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(185, 75%, 39%);
}

.card {
    background-color: hsl(225, 10%, 92%);
    padding: 50px;
    border-radius: 10px;
    text-align: center;
}

img {
    border-radius: 50%;
}

.profile-info {
    margin-top: 40px; 
    display: flex;
    justify-content: space-between;
}