* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(185, 75%, 39%);
}

h1 {
    font-size: 24px;
}
span, h2 {
    font-size: 18px;
    margin-left: 10px;
}

h2 {
    margin: 10px 0 0 0;
}

/* Light grey text */
.light-text {
    color: hsl(227, 10%, 46%);
    font-weight: 300;
}


.card {
    background-color: hsl(225, 10%, 92%);
    /* padding: 50px; */
    border-radius: 10px;
    text-align: center;
}

.bg-card {
    width: 100%;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.profile-img {
    margin-top: -50px;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 8px solid hsl(225, 10%, 92%);
}

.profile-info {
    margin-top: 40px; 
    display: flex;
    justify-content: space-between;
    border-top: 1px solid hsl(0, 0%, 75%);
    padding-top: 30px;
}

.profile-info div {
    padding: 0 45px 20px;
}